<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

    <a class="btn" href="/additem">Add New Item</a>

    <div class="card">

    <table class="highlight">
        <tr>
            <th>Game</th>
            <th>game_url</th>
            <th>release date</th>
            <th>genre</th>
            <th>creator</th>
            <th>Added By</th>
            <th>Likes</th>
            <th>Actions</th>
        </tr>


        <% items.forEach(function(item){  %>
        <tr>
            <td><%=item.gameNameThing%></td>
            <td><%=item.url%></td>
            <td><%=item.date%></td>
            <td><%=item.genre%></td>
            <td><%=item.creator%></td>
            <td><%=item.addedBy%></td>
            <td> <a href=""><i class="material material-icons">thumb_up</i></a></td>
            <td> <a href=""><i class="material-icons">delete</i></a></td>
        </tr>




        <% }) %>
    </table>

    </div>

<% include ./footer %>
</body>
</html>
